<div class="container  bg-light mt-4">
<div class="row text-light mt-4">
    <div class="col-md-2"></div>
    <div class="col-md-8 mt-4">
           
<table class="table " *ngFor="let currentUser of currentUser">
        <h3 class="text-dark text-right">WELCOME {{currentUser.name}}</h3>
    <tr >
        <td>name</td>
        <td>{{currentUser.name}}</td>
    </tr>
    <tr>
        <td>dob</td>
        <td>{{currentUser.dob}}</td>
    </tr>
    <tr>
        <td>mail</td>
        <td>{{currentUser.mail}}</td>
    </tr>
    <tr>
        <td>phone</td>
        <td>{{currentUser.number}}</td>
    </tr>
    <tr>
            <td>address</td>
            <td>{{currentUser.address}}</td>
    </tr>
    <tr>
        <td>Type of User</td>
        <td>{{currentUser.usertype}}</td>
    </tr>
</table>
</div>
<div class="col-md-2"></div>
</div>
</div>