<!-- <div class="container">
    <h4 class="text-center text-success">change password</h4>
    <div class="row mt-3">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form #ref="ngForm"(ngSubmit)="changepassword(ref.value)">
                <div class="form-group mt-3">
                    <label>username:</label>
                    <input type="text"name="username" class="form-control"ngModel>
                </div>
                <div class="form-group mt-3">
                        <label for="">enter new password:</label>
                        <input type="password"name="password" class="form-control"ngModel>
                    </div>

                <label>type of user:</label>
                <div class="form-check">
                    <label for="a" class="form-check-label">
                        <input type="radio"name="user" id="a" value="owner"class="form-check-input"ngModel>Owner
                    </label>
                </div>
                <div class="form-check">
                        <label for="b" class="form-check-label">
                            <input type="radio"name="user" id="b" value="vendor"class="form-check-input"ngModel>Vender
                        </label>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-success">submit</button>
                    </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>

</div> -->


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 my-3 ">
                <div class="container bg-info" style="border:2px solid black">
                    <h3 class=" text-center">change password</h3>
                        <form class="form " #ref=ngForm (ngSubmit)="changepassword(ref.value)">
                            
                                    <div class="form-check">   
                                            <label for="loginusertype" class="form-check-label">
                                            <input type="radio" name="usertype" id="loginusertype" value="owner" class="form-check-input" ngModel>
                                            owner</label>
                                            
                                        </div>
                                        <div class="form-check">   
                                                <label for="loginusertype1" class="form-check-label">
                                                <input type="radio" name="usertype" id="loginusertype1" value="vendor" class="form-check-input" ngModel>
                                                vendor</label>
                                                
                                            </div>
                                            <br>
                            <div class="form-group">
                                <label for="loginname" ><h5>UserName</h5></label>
                                <input type="text" name="name" class="form-control" ngModel id="loginname" placeholder="enter your login name">
                            </div>
                            <div class="form-group">
                                <label for="loginpassword"><h5>Enter new Password</h5></label>
                                <input type="password" name="password" class="form-control" ngModel id="loginpassword" placeholder="enter your password">
                            </div>
                            
                                    
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-secondary">Submit</button>
                            </div>        
                        </form>             
                    </div>
        </div>
        <div class="col-sm-4"></div>
     </div>
    </div>
    
