<div class="container mt-3 ">
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="container bg-light">
            <form class="form" #reg="ngForm" (ngSubmit)="register(reg.value)">
                    <h1 class="text-center ">Registration Form</h1>
                <div class="form-group">
                    <label for="registerName">User Name*</label>
                    <!-- <input type="text" name="name" id="registerName" class="form-control" ngModel> -->

        <input type="text" class="form-control" #registerName="ngModel" required minlength="5"name="name"id="registerName"ngModel>
             <div *ngIf="registerName.invalid&&(registerName.dirty||registerName.touched)" class="alert text-center">
                 <div *ngIf="registerName.errors.required">
                     <p>registerName is required</p>
                 </div>
             <div *ngIf="registerName.errors.minlength">
                    <p>registerName is atleast 4 chars long</p>
            </div>
        </div>
                 </div>
                <div class="form-group">
                        <label for="registerDate">Date Of Birth*</label>
                        <!-- <input type="date" name="dob" id="dob" class="form-control" ngModel> -->
                        <input type="date" class="form-control" #dob="ngModel" required minlength="5"name="dob"id="registerDate"ngModel>
                        <div *ngIf="dob.invalid&&(dob.dirty||dob.touched)" class="alert text-center">
                            <div *ngIf="dob.errors.required">
                                <p>dob is required</p>
                            </div>
                        <!-- <div *ngIf="registerName.errors.minlength">
                               <p>registerName is atleast 4 chars long</p>
                       </div> -->
                   </div>
                    </div>
                    <div class="form-group">
                            <label for="registerMail">Mailid*</label>
                            <!-- <input type="email" name="mail" id="registerMail" class="form-control" ngModel> -->
                            <input type="email" class="form-control" #email="ngModel" required minlength="5"name="mail"id="registerMail"ngModel>
                        <div *ngIf="email.invalid&&(email.dirty||email.touched)" class="alert text-center">
                            <div *ngIf="email.errors.required">
                                <p>email is required</p>
                            </div>
                            <div *ngIf="email.errors.minlength">
                                <p>email should be contain @gmail </p>
                            </div>
                       
                      </div>
                        </div>
                        <div class="form-group">
                                <label for="registerNumber">Phone Number*</label>
                      
                    <input type="number" class="form-control" #number="ngModel" required minlength="5"name="number"id="registerNumber"ngModel>
                        <div *ngIf="number.invalid&&(number.dirty||number.touched)" class="alert text-center">
                            <div *ngIf="number.errors.required">
                                <p>phone number is required</p>
                            </div>
                            <div *ngIf="number.errors.minlength">
                                <p>phonenumber is atleast 10 digits long</p>
                            </div>
                          </div>
                            </div>
                            <div class="form-group">
                             <label for="registerPassword">Password*</label>
                                    <!-- <input type="password" name="password" id="registerPassword" class="form-control" ngModel> -->
                            <input type="password" class="form-control" #password="ngModel" required minlength="5"name="password"id="registerPassword"ngModel>
                                    <div *ngIf="password.invalid&&(password.dirty||password.touched)" class="alert text-center">
                                        <div *ngIf="password.errors.required">
                                            <p>password is required</p>
                                        </div>
                                        <div *ngIf="password.errors.minlength">
                                            <p>password is atleast 8 digits long</p>
                                        </div>
                                   
                                  </div>
                                </div>


                                <label *ngIf="ref1.invalid &&(ref1.dirty||ref1.untouched)"><div>select type of User*</div>
                                </label>
                 
                
                    <div class="form-check"> 
                         <label for="registerusertype" class="form-check-label">
                  <input type="radio" name="usertype" id="registerusertype" value="owner" class="form-check-input" ngModel #ref1="ngModel" required>
                 <!-- <input type="radio" class="form-check-input" #owner="ngModel" value="owner" required minlength="5"name="usertype"id="registerusertype"ngModel>Owner
                        <div *ngIf="owner.invalid&&(password.dirty||owner.touched)" class="alert text-center">
                                        <div *ngIf="owner.errors.required">
                                            <p class="text-white">owner is required</p>
                                        </div>
                            </div> -->
                            Owner </label>
                                        
                     </div>
                    <div class="form-check">   
                    <label for="registerusertype1" class="form-check-label">
                        <input type="radio" name="usertype" id="registerusertype1" value="vendor" class="form-check-input"  ngModel #ref1="ngModel" required>
                        Vendor</label>
                      </div>
                      
                      <!-- <div *ngIf="usertype.invalid&&(usertype.dirty||usertype.touched)" class="alert text-center">
                        <div *ngIf="usertype.errors.required">
                            <p>usertype is required</p>
                        </div> -->
                
                 <div class="form-group">
                    <label for="registerAddress">Address*</label>
                    <textarea name="address" id="registerAddress" cols="20" rows="3" class="form-control" ngModel #address="ngModel" required></textarea> 
                    
                                    <div *ngIf="address.invalid&&(address.dirty||address.touched)" class="alert text-center">
                                        <div *ngIf="address.errors.required">
                                            <p>address is required</p>
                                        </div>
                                        <div *ngIf="address.errors.minlength">
                                            <p>address is atleast 50 words</p>
                                        </div>
                                   
                                  </div>   
                </div>
                     <div class="form-group text-center">
                            <button type="submit" class="btn btn-danger">Register</button>
                     </div>
                                                         
            </form>
        </div>
    </div>
    <div class="col-sm-3"></div>
    </div>
</div>