<div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="container bg-light mt-3">
                <form class="form" #reg="ngForm" (ngSubmit)="registeration(reg.value)" >
                        <h3 class="text-center text-info">REGISTRATION FORM</h3>
                    <div class="form-group">
                        <label for="registerName">User Name</label>
                        <input type="text" name="name" id="registerName" class="form-control" [(ngModel)]=currentUser.name>
                    </div>
                    <div class="form-group">
                            <label for="registerDate">Date Of Birth</label>
                            <input type="date" name="date" id="registerDate" class="form-control" [(ngModel)]=currentUser.dob>
                        </div>
                        <div class="form-group">
                                <label for="registerMail">Mail</label>
                                <input type="email" name="mail" id="registerMail" class="form-control" [(ngModel)]=currentUser.mail>
                            </div>
                            <div class="form-group">
                                    <label for="registerNumber">Phone Number</label>
                                    <input type="tel" name="number" id="registerNumber" class="form-control" [(ngModel)]=currentUser.number>
                                </div>
                                <div class="form-group">
                                        <label for="registerPassword">Password</label>
                                        <input type="password" name="password" id="registerPassword" class="form-control" [(ngModel)]=currentUser.password>
                                    </div>
                                    <label>select type of User</label>
                                    <div class="form-check">   
                                            <label for="registerusertype" class="form-check-label">
                                            <input type="radio" name="usertype" id="registerusertype" value="owner" class="form-check-input" [(ngModel)]=currentUser.usertype>
                                            Owner</label>
                                            
                                        </div>
                                        <div class="form-check">   
                                                <label for="registerusertype1" class="form-check-label">
                                                <input type="radio" name="usertype" id="registerusertype1" value="vendor" class="form-check-input" [(ngModel)]=currentUser.usertype>
                                                vender</label>
                                                
                                            </div>
                                    <div class="form-group">
                                            <label for="registerAddress"><Address></Address></label>
                                            <textarea name="address" id="registerAddress" cols="30" rows="5" [(ngModel)]=currentUser.address></textarea>
                                        </div>
                                        <div class="form-group">
                                                <button type="submit" class="btn btn-primary">Register</button>
                                            </div>
                                                             
                </form>
            </div>
        </div>
        <div class="col-sm-3"></div>
        </div>
        