<div class="container">
    <h3 class="text-center text-danger">OTP verification</h3>
    <div class="row mt-3">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form #ref="ngForm"(ngSubmit)="otp(ref.value)">
                <div class="form-group">
                    <label for="">ENTER OTP:</label>
                    <input type="number"name="OTP"class="form-control"ngModel>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-success">submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
