<div class="container btn-danger mt-3">
<form class="form" #ref3="ngForm" (ngSubmit)="addpayment(ref3.value)">
    <h3 class="text-center text-warning">ADD PAYMENTS</h3>
    <div class="form-group">
        <label >Account Number</label>
        <input type="text" name="accno"  class="form-control" ngModel>
    </div>
    <div class="form-group">
        <label >IFSC Code</label>
        <input type="text" name="ifsccode" class="form-control" ngModel>
    </div>
    <div class="form-group">
        <label >Google Pay Number</label>
        <input type="text" name="gpay" class="form-control" ngModel>
    </div>
    <div class="text-center">
            <button type="submit" class="btn btn-success ">ADD</button>
    </div>
</form>
</div>