<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div>
            <div class="conatiner bg-light mt-4">
                <h3 class=" text-center text-info">Login Form for Owner/Vendor</h3>
                    <form class="form" #ref=ngForm (ngSubmit)="submit(ref.value)">
                        
                        <div class="form-group">
                            <label for="loginname" ><h4>UserName*</h4></label>
                            <!-- <input type="text" name="name" class="form-control" ngModel id="loginname" placeholder="enter your login name"> -->
                            <input type="text" class="form-control" #UserName="ngModel"
                            placeholder="enter your login name" required minlength="5"name="name"id="loginname"ngModel>
                       <div *ngIf="UserName.invalid&&(UserName.dirty||UserName.touched)" class="alert text-center">
                        <div *ngIf="UserName.errors.required">
                           <p>UserName is required</p>
                       </div>
                    <div *ngIf="UserName.errors.minlength">
                           <p>UserName is atleast 4 chars long</p>
                    </div>
                       </div>
              
                        </div>
                        <div class="form-group">
                            <label for="loginpassword"><h4>Password*</h4></label>
                            
<input type="password" class="form-control" #password="ngModel" required minlength="5"name="password"id="loginpassword" placeholder="enter your password"ngModel>
                            <div *ngIf="password.invalid&&(password.dirty||password.touched)" class="alert text-center">
                                <div *ngIf="password.errors.required">
                                    <p>password is required</p>
                                </div>
                                <div *ngIf="password.errors.minlength">
                                    <p>password is atleast 6 chars long</p>
                                </div>
                           
                          </div>
                        </div>
                        <label *ngIf="ref1.invalid &&(ref1.dirty||ref1.untouched)"><div>select type of User*</div>
                        </label>
         
                                <div class="form-check">   
                                        <label for="loginusertype" class="form-check-label">
                                        <input type="radio" name="usertype" id="loginusertype" value="owner" class="form-check-input" ngModel #ref1="ngModel" required >
                                        Owner</label>
                                        
                                    </div>
                                    <div class="form-check">   
                                     <label for="loginusertype1" class="form-check-label">
                             <input type="radio" name="usertype" id="loginusertype1" value="vendor" class="form-check-input" ngModel #ref1="ngModel" required>
                                            Vendor</label>
                                            
                                        </div>
                                        <div class="form-group text-right text-secondary">
                                                
                                                <a routerLink="/nav/forgotpassword"><u>Forgot password?</u></a>
                                            </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success">Login</button>
                        </div>        
                           
                    </form>
                    <div class="form-group text-center text-secondary">
                            <p class="text-info"> Don't have a Rentalsystems account?</p>
                            <a routerLink="/nav/register"><u>click here</u></a>
                        </div>
                </div>
        
    </div>
    <div class="col-sm-3"></div>
    </div>