<div class="card">
    <div class="card-header"></div>
<div class="container-fluid form-group mb-5 c" style="background-image:url(assets/student5.jpg)">

    <h1 class="text-center text-secondary mt-5">About Us</h1>
    
</div>
</div>
<div class="card-body">
<div class="container text-light">
   <p >
        The Rental management System is Searching in Based  an the Apartment 
        Paying Guest ,Office ,House  in metropolitan cities. The Rental Management 
        System is Based an  the Owners and the Customers .The Owner is updated an 
        the Apartment ,Office details, House , Paying Guest details. 
        The Customer is details about the Room space , Room rent and the Address Details also. 
   </p>

</div>
</div>
<div class="card-footer">
<div class="row container-fluid text-light bg-dark">
       <div class="col-md-4"> 
            
          <h4 class="text-white ">About</h4>
          <p class="text-light">The Rental Management  System  is save an the time also.
               The Rental Management System is used to easily identify the suitable 
               place in Save time, cost also The Rental Management System is best way to search the house.</p>
       </div>
       <div class="col-md-4"> 
            <h4 class="text-white ">Quick Links</h4>
            <ul class="text-light ">
                <li>
                    <p>Home</p>
                </li>
                <li>
                    <p> About Us</p>
                </li>
                <li>
                    <p> Login</p>
                </li>
               
            </ul>
         </div>
         <div class="col-md-4 form-group"> 

             <h4 class="text-white ">Contact Us</h4>
             <p class="text-light">(+91) 9876543210</p>
             <p class="text-light">owner@gmail.com</p>
             <p class="text-light">No-121,KPHB,Kukutpally,Hyderabad</p>
             
             <i class="fa fa-facebook-official pr-3 text-dark" aria-hidden="true"></i>
             <i class="fa fa-twitter-square pr-3 text-light" aria-hidden="true"></i>
             <i class="fa fa-google-plus pr-3 text-light" aria-hidden="true"></i>
             <i class="fa fa-linkedin pr-3 text-light" aria-hidden="true"></i>
         
         </div>
   </div>

</div>