<div class="container-fluid">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark ">
            <!-- Brand -->
            <a class="navbar-brand" routerLink="#">
                <img width="50px" height="50px" src="assets/pic.png" alt="">
            </a>
          
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#c">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- Navbar links -->
            <div class="collapse navbar-collapse " id="c">
              <div class="text-center">
              <h3 class="text-warning ">HOME RENTAL MANAGEMENT SYSTEMS</h3>
            </div>
              <ul class="navbar-nav navbar-right ml-auto">
                    <li class="nav-item">
                            <a class="nav-link" routerLink="home">Home</a>
                          </li>
                <li class="nav-item ">
                  <a class="nav-link text-secondary" routerLink="login">Login</a>
                  
                </li>
                <li class="nav-item ">
                  <a class="nav-link" routerLink="/admin/login">Admin</a>
                </li> 
                <li class="nav-item ">
                        <a class="nav-link" routerLink="aboutus">About Us</a>
                      </li> 
              </ul>
            </div> 
          </nav>
        </div>
        <router-outlet></router-outlet>