<!-- <div class="container-fluid">
  <div class="card">
  <div class="card-header">
    <div id="demo" class="carousel slide" data-ride="carousel">
    
            <-- Indicators -->
            <!-- <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
              <li data-target="#demo" data-slide-to="3"></li>

            </ul>
          
            <-- The slideshow -->
            <!-- <div class="carousel-inner">
              
              <div class="carousel-item">
                <img  src="assets/w3.jpg" width="100%" height="650px"alt="New york">
              </div>
              <div class="carousel-item">
                <img  src="assets/w4.jpg" width="100%" height="650px" alt="New York">
              </div>
              <div class="carousel-item">
                  <img  src="assets/w5.jpg" width="100%" height="650px" alt="New York">
                </div>
                <div class="carousel-item">
                    <img  src="assets/w1.jpg" width="100%" height="650px" alt="New York">
                  </div>
            </div> -->
          
            <!-- Left and right controls -->
            <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          
          </div>
        </div> --> -->
      <!-- <div class="card-body">
          <div class="card-columns">
              <div class="card ">
                <div class="card-body text-center">
                 <img src="assets/c3.webp" alt="" width="400px"height="200px">
                </div>
              </div>
              <div class="card ">
                <div class="card-body text-center">
                    <img src="assets/c4.webp" alt="" width="400px"height="200px">
                </div>
              </div>
              <div class="card ">
                <div class="card-body text-center">
                    <img src="assets/c5.webp" alt="" width="400px"height="200px">
                </div>
              </div>
            </div>
    </div> -->
    <!-- <div class="card-body">
     <h3 class="text-danger">Home Rental Systems</h3>
      <p>The team at Home Rental Systems is here to assist you with all of your Minnesota (and now Florida) property management and rental needs in Minneapolis, St. Paul and the Lake Minnetonka area. Specializing in mid to upper end leasing we are your resource for exceptional rental properties. There’s a reason why many large corporations, headhunting firms and even professional sports teams turn to us when it’s time to find a home for someone important. Our company has been accommodating owners and renters for over 30 years.
          
          Our company offers single-family homes, condos, and luxury residences. As the largest provider of rental homes in the Twin Cities, we are sure to have something that will work for your lifestyle and your budget.
          
          If you own rental property or have a property you would like to turn into a rental in any of the areas we serve, including Minneapolis, St. Paul, Minnetonka, Plymouth, Wayzata, Eden Prairie, Excelsior and Maple Grove, please contact us now to discuss what Home Rental Systems can do for you. We offer free rental market evaluations!
          
          For renters, please explore our available rentals page, or just give us a call. We are happy to help you find the perfect rental option!
          
          </p>

    </div>
</div>
     --> -->
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/w1.jpg" width="100%" height="650px" alt="Los Angeles">
    </div>
    <div class="carousel-item">
      <img src="assets/w4.jpg" width="100%" height="650px" alt="Chicago">
    </div>
    <div class="carousel-item">
      <img src="assets/w1.jpg" width="100%" height="650px" alt="New York">
    </div>
    <div class="carousel-item">
      <img  src="assets/w5.jpg" width="100%" height="650px" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
<div class="card-body text-light bg-dark">
  <div class="row">
    <div class="col-md-6">
      <h4 class="text-danger"> rental property management application development</h4>
      <h5>online rental property management application</h5>
      <p>Manage rental properties & tenants</p>
          <p>User-friendly and easy to navigate</p>
         <p> Search by locality /property type</p>
         <p> Book a visit to shortlisted property</p>
         <p> Manage rent agreement</p>
</div>
<div class="col-md-6">
  <img src="https://www.angleritech.com/wp-content/uploads/2015/07/rental-property-application.jpg" alt=""> 
</div>
</div>
  <h3 class="text-light">Home Rental Systems</h3>
   <p>
        The Rental management System is Searching in Based  an the Apartment 
        Paying Guest ,Office ,House  in metropolitan cities. The Rental Management 
        System is Based an  the Owners and the Customers .The Owner is updated an 
        the Apartment ,Office details, House , Paying Guest details. 
        The Customer is details about the Room space , Room rent and the Address Details also. 
   </p>

 </div>
 <div class="card-footer">
    <div class="row container-fluid text-light bg-dark ">
           <div class="col-md-4"> 
                
              <h4 class="text-white ">About</h4>
              <p class="text-light">The Rental Management  System  is save an the time also.
                   The Rental Management System is used to easily identify the suitable 
                   place in Save time, cost also The Rental Management System is best way to search the house.</p>
           </div>
           <div class="col-md-4"> 
                <h4 class="text-white ">Quick Links</h4>
                <ul class="text-light ">
                    <li>
                        <a >Home</a>
                    </li>
                    <li>
                        <a> About Us</a>
                    </li>
                    <li class="y">
                        <a> Login</a>
                    </li>
                   
                </ul>
             </div>
             <div class="col-md-4 form-group"> 
    
                 <h4 class="text-white ">Contact Us</h4>
                 <p class="text-light">(+91) 9876543210</p>
                 <p class="text-light">owner@gmail.com</p>
                 <p class="text-light">No-121,KPHB,Kukutpally,Hyderabad</p>
                 
                 <i class="fa fa-facebook-official pr-3 text-light" aria-hidden="true"></i>
                 <i class="fa fa-twitter-square pr-3 text-light" aria-hidden="true"></i>
                 <i class="fa fa-google-plus pr-3 text-light" aria-hidden="true"></i>
                 <i class="fa fa-linkedin pr-3 text-light" aria-hidden="true"></i>
             
             </div>
       </div>
</div> 