<div class="container mt-3">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="container bg-danger">
             <form class="form" #ref1="ngForm" (ngSubmit)="addHouse(ref1.value)">
    <h3 class="text-center text-white">ADD HOUSE DETAILS</h3>
    <div class="form-group">
        <label for="htype">House Type*</label>
            <!-- <input type="text" name="housetype" id="htype" ngModel class="form-control"> -->
            <input type="text" class="form-control" #housetype="ngModel" required minlength="5"name="housetype"id="htype"ngModel>
             <div *ngIf="housetype.invalid&&(housetype.dirty||housetype.touched)" class="alert text-center">
                 <div *ngIf="housetype.errors.required">
                     <p>housetype is required</p>
                 </div>
        </div>
                
    </div>
    <div class="form-group">
            <label for="rent">Rent*</label>
                <!-- <input type="text" name="hrent" id="rent" ngModel class="form-control"> -->
                <input type="number" class="form-control" #Rent="ngModel" required minlength="5"name="hrent"id="rent"ngModel>
                <div *ngIf="Rent.invalid&&(Rent.dirty||Rent.touched)" class="alert text-center">
                    <div *ngIf="Rent.errors.required">
                        <p>Rent is required</p>
                    </div>
                </div>
        </div>
        <!-- <div class="form-group">
                <label for="image">House Image</label>
                    <input type="file" name="himage" id="image" ngModel class="form-control">
            </div> -->
            <div class="form-group">
                    <label for="haddr">Address*</label>
                    
                    <textarea name="address" id="haddr" cols="20" rows="3" class="form-control" ngModel #address="ngModel" required></textarea> 
                    
                    <div *ngIf="address.invalid&&(address.dirty||address.touched)" class="alert text-center">
                        <div *ngIf="address.errors.required">
                            <p>address is required</p>
                        </div>
                        <div *ngIf="address.errors.minlength">
                            <p>address is atleast 50 words</p>
                        </div>
                   
                  </div>     
                </div>
                <div class="form-group">
                        <label for="hrules">Aggrement*</label>
                        <textarea name="aggrement" id="hrules" cols="20" rows="3" class="form-control" ngModel #aggrement="ngModel" required></textarea>
                        <div *ngIf="aggrement.invalid&&(aggrement.dirty||aggrement.touched)" class="alert text-center">
                                <div *ngIf="aggrement.errors.required">
                                    <p>aggrement is required</p>
                                </div>
                                <div *ngIf="aggrement.errors.minlength">
                                    <p>aggrement is atleast 30 words</p>
                                </div>
                           
                          </div>         
                    </div>
                <div class="from-group text-center">
                    <button type="submit" class="btn btn-warning  text-center" >add house</button>
                </div>
                
             </form>
             </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>