<!-- <div class="row">
    <div class="col-sm-3">
        <div class="card text-center">
            <h2>owner dashboard</h2>
            <div class="form-control">
                <a routerLink="/ownerdashboard/profile">Profile</a>
            </div>
            <div class="form-control">
                <a routerLink="/ownerdashboard/addhouse">add House</a>
            </div>
            <div class="form-control">
                <a routerLink="/ownerdashboard/viewhouse">view house</a>
            </div>
            <div class="form-control">
                <a routerLink="/ownerdashboard/viewclient">view client</a>
            </div>
            <div class="form-control">
                <a routerLink="/ownerdashboard/payments">payments</a>
            </div>
            <div class="">
            <button type="submit" class="btn text-primary" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <router-outlet></router-outlet>
    </div>
</div> -->


<div class="container-fluid">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark ">
           
        <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#c">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <!-- Navbar links -->
            <div class="collapse navbar-collapse " id="c">
              <ul class="navbar-nav navbar-right">
                    <li class="nav-item">
                            <a class="nav-link" routerLink="/ownerdashboard/profile">profile</a>
                          </li>
                <li class="nav-item ">
                  <a class="nav-link text-secondary" routerLink="/ownerdashboard/addhouse">addhouse</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" routerLink="/ownerdashboard/viewhouse">viewhouse</a>
                </li> 
                <li class="nav-item ">
                        <a class="nav-link" routerLink="/ownerdashboard/viewclient">viewclient</a>
                      </li> 
                      <li class="nav-item ">
                        <a class="nav-link" routerLink="/ownerdashboard/payments">payments</a>
                      </li> 
                      <!-- <li class="nav-item ">
                        <a class="nav-link" routerLink="/ownerdashboard/logout">logout</a>
                      </li>  -->
                      <div class="">
                        <button type="submit" class="btn text-primary" (click)="logout()">Logout</button>
                        </div>
              </ul>
            </div> 
          </nav>
        </div>
        <router-outlet></router-outlet>