 body {
    background-image: url("https://images.unsplash.com/photo-1455202335449-c7ba6e0ce1d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80");
    background-repeat: no-repeat;
    background-position-x:100%;
    background-size:cover;

  }
   