<div class="container bg-info  mt-4">
    <table class="table">
    <thead class="thead-dark text-warning">
        <th>Account No</th>
        <th>IFSC NO</th>
        <th>GooglePay No</th>
    </thead>
    <tr *ngFor="let obj of payments">
        <td>{{obj.accno}}</td>
        <td>{{obj.ifsccode}}</td>
        <td>{{obj.gpay}}</td>
    </tr>
</table>
</div>
