<!-- <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form #ref="ngForm"(ngSubmit)="password(ref.value)">
                    <div class="form-group mt-3">
                        <label>ENTER USERID:</label>
                        <input type="text"name="name" class="form-control"ngModel>
                    </div>
                    <label>type of user:</label>
                    <div class="form-check">
                        <label for="k" class="form-check-label">
                            <input type="radio"name="user" id="k" value="owner"class="form-check-input" ngModel>Owner
                        </label>
                    </div>
                    <div class="form-check">
                            <label for="i" class="form-check-label">
                         <input type="radio"name="user" id="i" value="vendor"class="form-check-input" ngModel>Vender
                            </label>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-success"type="submit">submit</button>
                        </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    
    </div>
    
 -->

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 my-3 ">
                <div class="container bg-info py-3" >
                        <form class="form" #ref=ngForm (ngSubmit)="password(ref.value)">
                            <div class="form-group">
                                <label for="loginname" ><h5>UserName</h5></label>
                                <input type="text" name="name" class="form-control" ngModel id="loginname" placeholder="enter your login name">
                            </div>
                            <br/>
                            <div class="form-check">   
                                <label for="loginusertype" class="form-check-label">
                                <input type="radio" name="usertype" id="loginusertype" value="owner" class="form-check-input" ngModel>
                               owner</label>
                                
                            </div>
                            <div class="form-check">   
                                    <label for="loginusertype1" class="form-check-label">
                                    <input type="radio" name="usertype" id="loginusertype1" value="vendor" class="form-check-input" ngModel>
                                   vendor</label>
                            </div>
                            <div class="form-group text-center">
                                    <button type="submit" class="btn btn-dark text-white">Login</button>
                                </div>
                            </form>
                            </div>
                            </div>
                            <div class="col-sm-3"></div>
                            </div>